/*CSS de YoHerman*/
body {
  font-family: Arial, sans-serif;
  background-color: #A8A7A7;
  color: #222;
  margin: 0;
  padding: 2rem;
}

h1 {
  text-align: center;
  padding: 20PX;
  background-color: #D7D7E0;
  border-style: solid;
  border-color: #9E9EB5;
  border-width: 4px;
  border-radius: 5px;
}

#login-section,
#data-section {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
  background-color: #D7D7E0;
  border-color: #9E9EB5;
  padding: 2rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-width: 40px;
  border-radius: 5px;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #1e3a8a;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3b82f6;
}

.hidden {
  display: none;
}

#empreses-table {
  width: 100%;
  border-collapse: collapse;
}

#empreses-table th,
#empreses-table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

#empreses-table tr:hover {
  background-color: #f0f8ff;
}

#login-error {
  color: red;
  text-align: center;
}